@import "tailwindcss";

/* set out whats needed in our homepage, such as colour of borders, 
background, and foreground and using our primary colours*/

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));

}